node-red.json
[{"id":"6b3be71d.53bf88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"862c68e1.ffbcf8","type":"ui_form","z":"6b3be71d.53bf88","name":"","label":"","group":"da35dbc6.2415f8","order":0,"width":0,"height":0,"options":[{"label":"Enter name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":240,"y":180,"wires":[["d972a0ce.73e4d","7aed51a9.b87ba"]]},{"id":"d972a0ce.73e4d","type":"debug","z":"6b3be71d.53bf88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"7aed51a9.b87ba","type":"function","z":"6b3be71d.53bf88","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["4dd3abc6.f4aff4"]]},{"id":"4dd3abc6.f4aff4","type":"cloudant out","z":"6b3be71d.53bf88","name":"cloudant","cloudant":"","database":"sample","service":"node-red-hxnnx-2020--cloudant-1597405363089-40165","payonly":true,"operation":"insert","x":600,"y":180,"wires":[]},{"id":"5ad4d4a0.f5c9dc","type":"ui_form","z":"6b3be71d.53bf88","name":"","label":"","group":"e7b5f30e.fe877","order":0,"width":0,"height":0,"options":[{"label":"Enter email ","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":260,"y":360,"wires":[["71a061cf.08b9b"]]},{"id":"71a061cf.08b9b","type":"function","z":"6b3be71d.53bf88","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":360,"wires":[["ae261340.3f3b7"]]},{"id":"ae261340.3f3b7","type":"function","z":"6b3be71d.53bf88","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":360,"wires":[["43ea5d50.5664d4"]]},{"id":"43ea5d50.5664d4","type":"cloudant in","z":"6b3be71d.53bf88","name":"","cloudant":"","database":"sample","service":"node-red-hxnnx-2020--cloudant-1597405363089-40165","search":"_idx_","design":"user","index":"user","x":670,"y":460,"wires":[["17a8346f.61bebc"]]},{"id":"17a8346f.61bebc","type":"function","z":"6b3be71d.53bf88","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":520,"wires":[["6a004a56.ea74a4"]]},{"id":"6a004a56.ea74a4","type":"ui_text","z":"6b3be71d.53bf88","group":"e7b5f30e.fe877","order":0,"width":0,"height":0,"name":"login sucessful","label":"","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":520,"wires":[]},{"id":"b33a88e6.522218","type":"ui_form","z":"6b3be71d.53bf88","name":"","label":"form","group":"eb231fb2.2d334","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":220,"y":740,"wires":[["f3bd3445.8fc1b8"]]},{"id":"f3bd3445.8fc1b8","type":"function","z":"6b3be71d.53bf88","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":740,"wires":[["932e844e.2a80a8"]]},{"id":"932e844e.2a80a8","type":"watson-conversation-v1","z":"6b3be71d.53bf88","name":"","workspaceid":"f80a0754-eb95-4c90-bc6e-f3cce3dbdbba","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/00936d53-40de-4dd8-8633-4a2695b84407","timeout":"","optout-learning":false,"x":500,"y":740,"wires":[["44924a14.6e0584","a0e3bf7.090434"]]},{"id":"44924a14.6e0584","type":"debug","z":"6b3be71d.53bf88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":660,"wires":[]},{"id":"a0e3bf7.090434","type":"function","z":"6b3be71d.53bf88","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":740,"wires":[["f7212a48.b40338","ba3bb8e4.c75808"]]},{"id":"f7212a48.b40338","type":"ui_text","z":"6b3be71d.53bf88","group":"eb231fb2.2d334","order":1,"width":0,"height":0,"name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":740,"wires":[]},{"id":"ba3bb8e4.c75808","type":"ui_audio","z":"6b3be71d.53bf88","name":"","group":"eb231fb2.2d334","voice":"","always":"","x":770,"y":800,"wires":[]},{"id":"da35dbc6.2415f8","type":"ui_group","z":"","name":"reg form","tab":"2daacca1.5b2234","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7b5f30e.fe877","type":"ui_group","z":"","name":"Login form","tab":"581f51ab.69c87","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb231fb2.2d334","type":"ui_group","z":"","name":"customer help","tab":"33edc161.deef0e","order":1,"disp":true,"width":"6","collapse":false},{"id":"2daacca1.5b2234","type":"ui_tab","z":"","name":"reg form","icon":"dashboard","disabled":false,"hidden":false},{"id":"581f51ab.69c87","type":"ui_tab","z":"","name":"login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"33edc161.deef0e","type":"ui_tab","z":"","name":"customer help","icon":"dashboard","disabled":false,"hidden":false}]